<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>CHAT UI</title>
</head>
<body>
    <div>
        <input id="username" placeholder="Enter your name">
        <button onclick="createUser()">Set User</button>
    </div>
    <div id="messages"></div> 
    <div class="input-box"> 
        <input id="messageInput" placeholder="Type message...">
        <button onclick="sendMessage()">
            Send
        </button> 
    </div>

    <script src="/static/script.js"></script>
</body>
</html>